[2015-06-21 15:13] Kevinrob opened #1 "[WIP] Write some tests"

[2015-06-21 15:23] Kevinrob opened #2 "[WIP] Use HTTP (re-)validation"

[2015-06-27 18:05] #2 closed

[2015-06-30 06:38] Kevinrob commented on #1
Travis CI with PHPunit is configured and bootstraped

[2015-06-30 11:16] #1 closed

[2015-06-30 14:36] Kevinrob opened #3 "Only cache HEAD and GET"

[2015-06-30 14:40] Kevinrob opened #4 "Test "stale-if-error""

[2015-06-30 14:41] Kevinrob opened #5 "If "no-cache" stale the cache entry"

[2015-06-30 14:42] Kevinrob opened #6 "Supporting stale-while-revalidate"

[2015-06-30 20:29] #3 closed

[2015-06-30 21:02] #5 closed

[2015-07-03 18:41] #4 closed

[2015-07-06 20:38] h4cc opened #8 "Support "must-revalidate""
My CouchDB Server is only sending the following header, but your middleware does _not_ cache the responses.
Please fix :+1:

[code]

[2015-07-07 07:06] Kevinrob commented on #8
Thank for reporting the issue.
I will check that ASAP!

[2015-07-07 14:44] Kevinrob commented on #8
@h4cc can you please test with the latest version (v0.3) ?

[2015-07-07 18:23] h4cc commented on #8
v0.3 seems to be working with my couchdb 1.6. Thanks! :+1:

[2015-07-07 18:23] #8 closed

[2015-07-15 09:52] #6 closed

[2015-07-15 09:55] Kevinrob commented on #6
For using this, the web application must execute `CacheMiddleware::purgeReValidation();` after the end of the script.
For Symfony2, you can do that with the event `onKernelTerminate`.

[2015-07-19 13:08] Kevinrob opened #11 "Validate logic with RFC 7234"
https://tools.ietf.org/html/rfc7234

[2015-07-20 15:50] EAnushan opened #13 "Docs: ChainCache should be wrapped in PrivateCache"
In README.md, it currently is:
[code]
It should be:
[code]

[2015-07-20 16:21] Kevinrob commented on #13
Yes,  you are right! I will fix that asap.

[2015-07-20 18:56] #13 closed

[2015-07-20 20:12] Kevinrob opened #15 "Cache with a TTL"
like @EAnushan start in #14

[2015-07-20 20:38] #15 closed

[2015-07-20 21:18] EAnushan commented on #15
You may need to change:
[code]
to
[code]
Doctrine caching will cache an item forever if you set the TTL to 0. This means it will never leave the cache. We shouldn't cache HTTP responses that have a TTL of 0.

[2015-07-21 06:54] Kevinrob commented on #15
Yes, we must cache forever when we have the header `Etag` or `Last-Modified`. Or at least the maximum possible.
With that, a server can serve a content without freshness (directly stale) but with a hash (`Etag`) or a date (`Last-Modified`). The cache must keep this entry and ask for a validation before using it. If the server respond with a 304 (no content with it), the cache can use this entry.
T

[2015-07-21 14:40] EAnushan commented on #15
Ah I see. This makes sense.

[2015-07-22 14:39] Kevinrob opened #16 "Use and support `Vary` header"

[2015-07-26 07:28] Zyles opened #19 "Error and TTL"
I get "PHP Fatal error:  Class 'CacheMiddleware' not found" trying to use your example filecache (which also is missing a ")" at the end) and how do you specify the TTL on the cache?

[2015-07-26 10:00] Kevinrob commented on #19
Do you use Composer? Do you include the bootstrap file? https://getcomposer.org/doc/01-basic-usage.md
If you don't use Composer, you have to manually include/require the files in your script.

You don't set a TTL, this library will use HTTP cache headers (`Cache-Control` or `Expire`) for calculating the TTL for the response. The goal is to respect the RFC 7234.

[2015-07-26 10:02] Zyles commented on #19
I do, everything else is working through Composer... will have to investigate more later.

So the rest API I am querying sets a header and the library will automatically save and delete it for that amount of time?

[2015-07-26 10:23] Kevinrob commented on #19
Ok, and did you add `use Kevinrob\GuzzleCache;`at the begining?

Yes, it's the server that indicate if and how the response can be cached. If the isn't any indication, we are not allowed to cache it.
You can found information about that like [this article](http://www.mobify.com/blog/beginners-guide-to-http-cache-headers/).

Of course, you can implement your own `CacheProvider` like that:
[code]
An

[2015-07-26 10:46] Kevinrob commented on #16
From RFC 7231:

[code]

[2015-07-26 10:56] Kevinrob commented on #16
[code]

[2015-07-27 08:00] Kevinrob commented on #19
After having reading about that, a cache is allowed to set a little TTL if they isn't any indication from the server (no `Expire`, no `Cache-Control`). Maybe I will add that :+1:

[2015-07-30 18:03] Kevinrob opened #20 "Calculating Heuristic Freshness"
https://tools.ietf.org/html/rfc7234#section-4.2.2

For response without explicit expiration times. cf #19

[2015-07-30 18:03] #19 closed

[2015-08-06 13:05] Kevinrob opened #21 "Add a param for limit size of item to cache"

[2015-08-06 13:09] Kevinrob opened #22 "Invalidate cache after a non-safe method on the same URI"
https://tools.ietf.org/html/rfc7234#section-4.4

[2015-08-06 13:10] Kevinrob opened #23 "Implement header `Age`"
https://tools.ietf.org/html/rfc7234#section-5.1

[2015-08-06 13:11] Kevinrob opened #24 "Implement header `Warning`"
https://tools.ietf.org/html/rfc7234#section-5.5

[2015-08-06 13:13] Kevinrob opened #25 "Implement "Request Cache-Control Directives""
https://tools.ietf.org/html/rfc7234#section-5.2.1

With `Pragma` fallback => https://tools.ietf.org/html/rfc7234#section-5.4

[2015-08-06 17:02] Kevinrob commented on #25
- [ ] `Cache-Control: no-store` => don't cache response
- [ ] `Cache-Control: no-cache` => don't return cached response (but cache it)
- [ ] `Cache-Control: max-age=XX` => don't return cached response that have a `Age` > XX
- [ ] `Cache-Control: max-stale` => client ask for a stale response if exist
- [ ] `Cache-Control: max-stale=XX` => client ask for a stale reponse of max XX seconds after stale

[2015-08-12 14:34] Kevinrob opened #27 "Remove dependency on Doctrine/Cache"
With a custom interface for caching with a implementing of it that take a `Doctrine/Cache` in the constructor for compatibility.

[2015-08-12 14:34] Kevinrob commented on #27
remove #26 after that.

[2015-08-12 15:04] Thinkscape commented on #27
Actually I'd rename and refactor https://github.com/Kevinrob/guzzle-cache-middleware/blob/master/src/PrivateCache.php.

It seems like that's a good candidate to become `class DoctrineCacheBackend`.

There is however a noticeable amount of non-backend related stuff in there, like checking headers etc. Have you considered moving that into the middleware?

[2015-08-12 16:46] Kevinrob commented on #27
I prefer to keep the caching logic out of the middleware. Like that we can have a private and a public (shared) cache.
I think that the middleware must keep the general logic of "checking" (save/fetch) without the logic of "determin-if-caching" (checking headers, etc...).

Like that, we can "plug" a different strategy of caching into the middleware. ([example](https://github.com/Kevinrob/guzzle-ca

[2015-08-12 17:36] Kevinrob commented on #27
cf. #28

[2015-08-14 10:10] Thinkscape commented on #25
:+1:
Inspiration: https://github.com/Guzzle3/plugin-cache/blob/master/DefaultRevalidation.php

[2015-08-16 09:23] Kevinrob commented on #27
This is OK with the PR #28

[2015-08-16 09:23] #27 closed

[2015-08-16 09:34] Kevinrob opened #30 "Create PublicCacheStrategy"

[2015-08-16 10:10] #30 closed

[2015-09-04 14:58] jamieburchell opened #31 "DoctrineCache produces essentially empty file"
Using version ~0.6 and the example in the README to use the DoctrineCacheWrapper component.

No matter what I do, I just get the following folder structure and file:

`30\a7\1e\5d\66\05\8b\51\2e\b1\11\50\ad\5c\c2\6c\5a\5a\d4\80\fa\a1\c3\08\9a\e2\72\c9\ac\7d\7f\84\DoctrineNamespaceCacheKey[].doctrinecache.data`

The file always contains:

[code]

This is when I am GETing resources behind a basic au

[2015-09-06 12:10] Kevinrob commented on #31
I see the problem.
Currently, the `PrivateCacheStrategy` search a `Cache-Control` and if not found, an `Expires`. So in your headers, the `Expires: Sat, 05 Sep 2015 15:07:35 GMT` is never used.

The logic is not correct after re-reading the RFC, the `Expire` must be used even if a `Cache-Control` is present. I will try to fix it!

[2015-09-06 12:11] Kevinrob commented on #31
Related to #11

[2015-09-06 12:25] Kevinrob commented on #31
@jamieburchell Thanks for reporting this issue. Can you please re-try with `v0.6.1`?

[2015-09-06 17:39] jamieburchell commented on #31
No problem. I thought perhaps I had done something wrong. Thanks for looking in to it, the earliest I can test the fix is Tuesday. I'll report back.

[2015-09-08 09:15] jamieburchell commented on #31
I'm happy to report that this seems to have fixed the issue. More folders are being created now with files containing data and GuzzleHttp is not connecting to the service to fetch resources within the cache lifetime. Thanks for your help.

[2015-09-08 09:15] #31 closed

[2015-09-15 20:55] shadowhand opened #32 "Does not work without Doctrine"
The simple example provided in the README:

[code]

does not work without Doctrine installed:

Suggesting `doctrine/cache` seems misleading if the package doesn't work without it.

[2015-09-16 17:22] Kevinrob commented on #32
You're right. This is not optimal.

By default (without parameter) the constructor of `CacheMiddleware` use a `PrivateCacheStrategy` with `new DoctrineCacheWrapper(new ArrayCache())`.

I will change that,

[2015-09-16 17:24] shadowhand commented on #32
It would be nice if the Doctrine remained optional and the default created a temporary file for storage. Or if a [Flysystem](http://flysystem.thephpleague.com/) adapter was included.

[2015-09-17 09:13] Kevinrob commented on #32
I didn't know Flysystem. I will take a look!

[2015-09-19 17:38] #32 closed

[2015-09-19 17:42] Kevinrob commented on #32
@shadowhand: With the version `0.6.2` the simple example:
[code]
work without `doctrine/cache`.

Thanks for reporting this issue!

[2015-11-13 12:06] #25 closed

[2015-11-13 12:24] #23 closed

[2015-11-13 12:40] Kevinrob commented on #21
This is the role of the storage to choice if the items are too big.

[2015-11-13 13:14] #21 closed

[2015-11-13 15:01] #16 closed

[2015-11-13 15:02] Kevinrob opened #35 "Better `Vary` support with multiple responses cached with different "vary"-values."

[2015-11-13 15:02] #11 closed

[2015-12-15 17:36] samuelecarpene opened #37 "Use and test with etag params"
Hi i need to use this package with guzzle 6 and etag cache.
Then i need to test if the caching is working.

Can you help me becuause i don't know how to do it.

Thank you in advance.

[2015-12-17 17:19] Kevinrob commented on #37
Hi,
of course!

[code]
To test if the cache HIT, you can check the header:
[code]

If you have any problem, tell me!

[2015-12-21 17:14] Kevinrob commented on #37
If you need more help, re-open this issue.

[2015-12-21 17:14] #37 closed

[2016-01-22 17:15] EAnushan opened #40 "Response Body Rewind"
If the response body is consumed using `$response->getBody()->getContents()`, then if another cache hit occurs during the same request, the cache hit will have an already consumed body.

Looking at CacheEntry, https://github.com/Kevinrob/guzzle-cache-middleware/blob/ba5994e86e895a728e91e00ab923debac39fb391/src/CacheEntry.php#L232, __sleep seems to handle this when we serialize. But if using an in

[2016-02-06 10:27] Kevinrob commented on #40
Thanks @EAnushan for this issue.
What do you think of the PR #41? Does it fix this issue?

[2016-02-14 09:32] #40 closed

[2016-02-14 09:36] Kevinrob opened #42 "Write a good documentation"

[2016-02-18 09:54] mihai-mocanu opened #43 "Argument 1 passed to CacheMiddleware::__invoke() must be callable, object given exception"
Hi, I get this when trying to use the library.
[code]
I think this
[code]
should be looking like this
[code]

What do you think?

[2016-02-18 11:07] Kevinrob commented on #43
Hi, which version of Guzzle do you use?
And can you post the snippet of code where you use the librairy?

[2016-02-18 11:39] mihai-mocanu commented on #43
From composer.lock
[code]

The initialization part:
[code]
and the init of the client looks like this:
[code]
it also gives the same exception even if i use it exactly like this, without creating my own cache storage:
[code]

[2016-02-18 11:49] Kevinrob commented on #43
I think that you make a little mistake/typo here:
[code]

You have to call `getHandlerStack()` no? Like that:
[code]

[2016-02-18 11:54] mihai-mocanu commented on #43
Oh well, you were right. Sorry for bothering you, I totally missed that.
I works now.

Thank you for your time!

[2016-02-18 12:22] Kevinrob commented on #43
Thank you for using this library!

[2016-02-18 12:22] #43 closed

[2016-02-26 16:23] debo opened #44 "[Question]: Force cache"
Is there a way with the current implementation to force the client to cache the response regardless the headers coming from the response? I would like to ask the response coming from an API but it is so badly implemented that it doesn't send back proper headers. What would be the best way to go about it?

[2016-02-26 16:33] jeromegamez commented on #44
You can use the GreedyCacheStrategy, introduced with #38.

[2016-02-26 16:39] debo commented on #44
Hey @jeromegamez thanks for the head up, the documentation on here it's a bit meh unfortunately, I wasn't aware of that (read as I didn't even check the code to be honest :-P).

I'll have a look into it thanks.

[2016-02-26 16:54] debo commented on #44
@jeromegamez you made my day, that was amazing. Where do we have to sign to have this middleware integrated in the core? :D

[2016-02-26 17:08] jeromegamez commented on #44
It already is :D

[2016-02-26 19:10] debo commented on #44
@jeromegamez I meant this entire plugin to become part of GuzzleHttp core :)

[2016-02-27 07:23] Kevinrob commented on #44
The documentation need some work :smile: (cf. #42).

[2016-02-27 07:24] Kevinrob commented on #44
@debo can we close this issue? Have you able to use the GreedyCacheStrategy?

[2016-02-27 10:18] debo commented on #44
@Kevinrob oh yes sorry, I forgot to update the issue. Thanks a lot.

[2016-02-27 10:18] #44 closed

[2016-03-20 19:20] BenMorel opened #48 "Improve Psr6CacheStorage"
I noticed a few points that I think could be improved in the PSR-6 storage implementation:

# Double serialization

The implementation uses [serialize()](https://github.com/Kevinrob/guzzle-cache-middleware/blob/master/src/Storage/Psr6CacheStorage.php#L47) and [unserialize()](https://github.com/Kevinrob/guzzle-cache-middleware/blob/master/src/Storage/Psr6CacheStorage.php#L31) explicitly. Is this ne

[2016-03-21 10:00] webda2l commented on #48
Yes for theses 3 points, current PSR-6 implementation is perfectible.

[2016-03-21 10:06] Kevinrob commented on #48
It's OK for me if you would like to make a PR for this :+1:

[2016-03-22 18:10] BenMorel commented on #48
PR sent :+1:

[2016-03-23 19:23] #48 closed

[2016-04-05 12:36] Kevinrob opened #50 "Avoid key collision in cache"
Add a check about request on the fetched object. If we have a collision, the cache entry will not be use.

[2016-04-07 06:44] #50 closed

[2016-04-08 02:10] andrefelipe commented on #42
Hi Kevin, thanks for the library, I am using in production just fine!

When you have time, could you write an example on how to implement the Flysystem cache? I tried but couldn't figure out how. I am new into this.

Thanks again! BTW I have you referenced here in Orchestrate library https://github.com/andrefelipe/orchestrate-php#cache-middleware

[2016-04-12 10:56] Kevinrob commented on #42
@andrefelipe Hi, thank you for using it!
I will do that ASAP ;)

[2016-04-14 09:15] Raffaello commented on #42
Hi,

 can I even point that the example given for the public cache seems wrong?

the code should use the `PublicCacheStrategy` instead in the example is using like the private one `PrivateCacheStrategy`.

Or what's the diffrerence between `PrivateCacheStrategy` and `Public` One?

thank you.

[2016-04-14 09:24] Kevinrob commented on #42
Hi @Raffaello, you're right!

The difference is about privacy and cache headers. Public cache will not cache something marked as `Cache-Control: private`. One good explication [here](http://stackoverflow.com/a/3492459/244702).

[2016-04-23 11:22] Kevinrob commented on #42
@andrefelipe I have added an example for `Flysystem` in the README. Sorry for taking some time to do it!

[2016-04-23 20:04] andrefelipe commented on #42
Hey @Kevinrob thank you very much! Interesting to see the possibility to cache in S3 buckets. Not sure the IO delay will pay off, but great to have the possibility.

[2016-05-02 13:23] vicmosin opened #51 "Different store to cache strategies"
I noticed that every call the cache [being updated](https://github.com/Kevinrob/guzzle-cache-middleware/blob/master/src/CacheMiddleware.php#L212). Maybe it make sense to introduce different strategies of storing cache? For example, we use Etag as a cache mechanism so it's really useless to update cache everytime server responses with 304

[2016-05-02 13:38] Kevinrob commented on #51
Hi, I see what you mean. But this will break the RFC.
[code]
http://tools.ietf.org/html/rfc7234#section-4.3.4

I understand, that a server can (by the way of a `304`) replace one or more headers in the cached response. So, it's not "really useless" in general.

Maybe, we can do a different method in `CacheStrategyInterface` like `update(RequestInterface $request, ResponseInterface $response)`. Wit

[2016-05-02 13:41] vicmosin commented on #51
Yes, additional method will help as well.

[2016-05-02 13:42] vicmosin commented on #51
In my case `Etag = md5(content)` so it is really meaningless to update the cache per each request.. Frontend is a WP site, so yes, it's a performance issue for me ))

[2016-05-02 13:44] Kevinrob commented on #51
Ok, I will try to look at this today or tomorrow. Thank for reporting this issue!

[2016-05-03 14:42] Kevinrob commented on #51
@vicmosin Can you check #52? Is it useful for you like that?

[2016-05-03 14:53] Kevinrob commented on #51
Fixed with [v1.3](https://github.com/Kevinrob/guzzle-cache-middleware/releases/tag/v1.3).

[2016-05-03 14:53] #51 closed

[2016-05-03 17:57] pewpewyou opened #53 "Cache Middleware for Redis not Predis"
I need to use Redis cache instead Predis  because predis is more slower for multiple calls. Do you have an example to create interface?

[2016-05-04 06:00] Kevinrob commented on #53
You use [phpredis](https://github.com/phpredis/phpredis)? So, you can use the doctrine cache for [Redis](https://github.com/doctrine/cache/blob/master/lib/Doctrine/Common/Cache/RedisCache.php).
[code]

[2016-05-04 14:07] pewpewyou commented on #53
Thanks a lot!

[2016-05-04 14:08] #53 closed

[2016-05-22 18:42] TCB13 opened #55 "In the dark..."
I've a page doing some REST queries using Guzzle 6. It works fine, however sometimes it gets to slow because it's always making queries. I found out that guzzle-cache-middleware is supposed to cache responses from the remote API.

However I can't get it to work, my code follows something like:

[code]

After running the code I don't get any errors or warnings. Guzzle still gives me the API respons

[2016-05-22 19:03] jeromegamez commented on #55
This sounds strange... Have you looked at the response headers of the endpoint you're requesting? Perhaps they state that the response shouldn't be cached.

Just to make sure (without knowing the endpoint), could you try using the GreedyCacheStrategy and verify that still nothing is written tou your filesystem? You you find files, this probably means the response "doesn't want" to be cached.

[2016-05-22 19:28] TCB13 commented on #55
@jeromegamez my response doesn't say anything about caching.

Response headers from `curl` (for example):

[code]

The code using the GreedyCacheStrategy:

[code]

Still nothing of the FS. Thank you.

[2016-05-22 19:35] TCB13 commented on #55
@jeromegamez just right after my last comment I refreshed it some times and apparently it's caching now!

[code]

Says "HIT" now, but at the first tries it was always missing. Should I use `GreedyCacheStrategy`? What that really means on this context?

[2016-05-22 20:32] jeromegamez commented on #55
The GreedyCacheStrategy always caches responses with a fixed TTL, even when the response explicitely isn't to be cached. This can be useful in certain cases but should not be used by default. There seems to be another issue - you should try going through the process e.g. with xdebug and find out where things go south... Still strange - perhaps someone else has a better idea :)

[2016-05-22 20:44] TCB13 commented on #55
@jeromegamez it is working with the GreedyCacheStrategy, so I'll leave at it right now and debug it later this week.

Thanks for the fast reply.

[2016-05-24 00:55] bogdanghervan commented on #42
Good job on this beautifully designed package!

After a bit of poking around I found out that the caching strategy I really need is `GreedyCacheStrategy` and I think this should be documented as well in the README. In fact, I composer-required this package expecting it to do just that - cache every Guzzle request regardless of any cache-related recommendation in the response.

My use case is this:

[2016-05-25 09:08] J-Yen opened #56 "Laravel Cache::store('file')"
Does the following code work?

[code]

Where is the cache saved? Normally in storage/framework/cache but i don't find the cache file.

[2016-05-25 09:13] Kevinrob commented on #56
@M165437 Can you help us on this?

[2016-05-25 13:42] M165437 commented on #56
@J-Yen Have a look at the file `config/cache.php` and https://laravel.com/docs/5.2/cache. Make sure caching works outside of the Guzzle middleware before using it, e.g. in the router

[code]

By the way, it's not one cache file but rather a folder structure. Correct, by default in `storage/framework/cache`.

[2016-05-25 13:50] J-Yen commented on #56
Caching already works outside the Guzzle middleware and i already use it. But with the middleware, no new file or directory is created in the folder structure.

[2016-05-25 13:56] M165437 commented on #56
Can you post more of your code? The part you posted above should work.

[2016-05-25 14:08] J-Yen commented on #56
[code]

[2016-05-25 14:21] M165437 commented on #56
Looks good. What about the response headers? Are you sure the response wants to be cached? You can check the headers with Laravel's dd() (dump and die) method, although you'd need to remove the `->getBody()` from your client request:

[code]

[2016-05-25 14:26] J-Yen commented on #56
Ow yes that is the cause.

[code]

Thank you very much!

[2016-05-25 14:26] M165437 commented on #56
What's the `Cache-Control` header value?

[2016-05-25 14:27] M165437 commented on #56
You're welcome! :-)

[2016-05-25 14:31] J-Yen commented on #56
Now only figure out how to change it :-)

[2016-05-25 14:34] M165437 commented on #56
@Kevinrob Honestly, I had the same struggle initially. :-) The `Cache-Control` header might be worth a paragraph in the README file.

[2016-05-25 14:35] Kevinrob commented on #56
You can use the `GreedyCacheStrategy`. It doesn't care about headers from the server.
Yeah, I think that it can be added to the README :smile: (#42)

[2016-05-25 15:00] J-Yen commented on #56
So i have changed my code to:

[code]
But still no caching...

[2016-05-25 17:23] M165437 commented on #56
Try this in `App/Http/routes.php`. This works for me.

[code]

[2016-05-25 17:24] M165437 commented on #56
What about File Permissions? Have you checked your error logs? Maybe Laravel isn't able to write the cache to the file system?

[2016-05-25 17:50] J-Yen commented on #56
No errors in the error logs. It should be able to write the cache to the file system because it's working with your example and in the rest of my code?

[2016-05-25 17:51] J-Yen commented on #56
It is a Lumen project, can this be a problem?

[2016-05-25 18:04] M165437 commented on #56
That's quite a valuable info. Did you uncommented the `$app->withFacades()` method call in the bootstrap/app.php file?

[2016-05-25 18:06] M165437 commented on #56
Well, of course, otherwise the caching wouldn't work at all.

[2016-05-25 18:07] M165437 commented on #56
So, if my example works, it's obviously not a problem with the middleware.

[2016-05-25 18:44] J-Yen commented on #56
yes i did uncommented the $app->withFacades() method.
Does your example work or are you going to test it?

[2016-05-25 18:50] M165437 commented on #56
It works in Laravel. Lumen and Laravel are not the same thing. Something that works in Lumen will probably work in Laravel but not necessarily vice versa. Next time please specify your framework up front. The Laravel interface was created for and tested with Laravel. I don't know if it works with Lumen.

[2016-05-25 18:53] J-Yen commented on #56
Yes you're right I forgot an important detail. Nevertheless thank you very much for the quick help.

[2016-05-26 01:30] M165437 commented on #56
Out of curiosity I set up a Lumen project. The route example above works fine. So it _is_ Lumen compatible. :-)

[2016-06-17 09:47] Kevinrob commented on #56
Can we close this _issue_?

[2016-06-17 13:10] M165437 commented on #56
Yes, I think so.

[2016-06-17 13:34] #56 closed

[2016-06-30 16:12] JustinTBrown opened #58 "Rookie Question"
Does GCM store cache on the user's local machine by default? And then the storage interface build-ins are for server-side/remote caching?

[2016-07-06 11:10] funivan commented on #58
you can store any data on user's local machine  using FlysystemStorage and LocalAdapter
See: http://flysystem.thephpleague.com/adapter/local/

[2016-07-07 15:39] JustinTBrown commented on #58
Hi thanks @funivan, that wasn't quite what I was asking. I was wondering what the default storage behaviour was for the "simple" implementation of GCM (guzzle-cache-middleware). Either way I'm attempting to use Doctrine for filesystem storage on the server itself.

[2016-07-07 15:39] #58 closed

[2016-07-07 15:53] jeromegamez commented on #58
AFAIK, the default cache is in memory, that means: if you execute the same HTTP request multiple times during one script execution, only the first one goes actually out, the following requests come from memory.

[2016-07-10 05:56] waynegibson opened #59 "Cache key"
How do you set a key and retrieve it?  When doing a GET request the cache is created successfully with laravel as Cache|:store('file').

In the LaravelCacheStorage public fetch method, I added this code snippet:
 \Log::info('Fetch key @ '. \Carbon\Carbon::now() .' with key: ' . $key);

In the try block of the public fetch method I added this snippet:
\Log::info('Fetch cache @ '. \Carbon\Carbon::no

[2016-07-11 08:38] mrtomstone opened #60 "Cache invalidation/removal"
Is there a simple way that I can invoke an invalidation or removal of the cache for a specific call (e.g. http://api.test.com/users/1).

I need to do this after a PUT request to the api to access the new data on the next GET request.

[2016-07-11 18:03] Kevinrob commented on #60
The PR #39 try to do that, but it's in WIP state.
You can do that by adding a middleware in your guzzle stack that will delete entry in the storage maybe.

[2016-07-12 15:23] mrtomstone commented on #60
Oh yes, thats exactly what I am after. As it is WIP, I am reluctant to use it in a production system. Instead, is there a way that I can choose to never cache certain requests?

[2016-07-13 02:16] #60 closed

[2016-07-29 10:01] zobzn opened #62 "GreedyCacheStrategy does not work as expected"
GreedyCacheStrategy depends on the response headers Etag and Last-Modified, though it should not.
If Response has any of this headers, then CacheEntry::hasValidationInformation returns true, then CacheEntry::getTTL returns 0, then CacheEntry saved without expiration instead of defined ttl.

[2016-09-02 02:51] kebingyu opened #66 "Extending `CacheEntry` causing serialize() to throw exception"
There is a private property `$timestampStale` in `CacheEntry` that may cause serialize() to fail when extending from `CacheEntry`.

- If a child class of `CacheEntry` is used by `CacheMiddleware`, the following error may occur: `serialize(): "timestampStale" returned as member variable from __sleep() but does not exist.`.
- If a child class promotes `$timestampStale` to `protected`, another error

[2016-09-02 07:13] Kevinrob commented on #66
You're right, can you do a PR?

[2016-09-02 16:45] Kevinrob commented on #66
Thanks! `v1.4.3` :)

[2016-09-02 16:45] #66 closed

[2016-09-02 19:08] kebingyu commented on #66
Thank you for making this awesome middleware!

On Fri, Sep 2, 2016 at 9:45 AM, Kevin Robatel <notifications@github.com>
wrote:

--
Kebing Yu
(C): 626-673-9061
yukebing@gmail.com

[2016-09-16 19:17] polupraneeth opened #68 "Private transparent proxy cache url downloaded the file really slow"
# Trying to download Private transparent proxy cache url with guzzle

I am trying to download a file from a file sharing website, but it really slows down the execution of the script. For large files it is giving me a time out error. I tried everything, but I'm still unable to download the cache URL files, as fast as it can be.
`use GuzzleHttp\Client;
    use GuzzleHttp\HandlerStack;

[code]

[2016-11-03 11:51] #55 closed

[2016-11-29 08:34] StephanBis opened #71 "Invalidating cache for certain route or url"
Hey,

Is it possible to invalidate the whole cache with this middleware? Is it even possible to invalidate only the cache that belongs to a certain route or url?
The docs seem to not explain this.

Kind regards,
Stephan

[2016-12-01 08:02] Kevinrob commented on #71
Hey,

Not really, but you control the storage. So you can delete cache by empty the storage that you use.
Maybe a new feature to add!

By the way if you use standard strategy (private/public) you don't need to clear the cache if the server return good headers.

[2016-12-01 12:23] popkin opened #72 "Caching POST requests"
is it posible to cache POST requests?

thanks in advance

[2016-12-04 09:59] Kevinrob commented on #72
First thing, it's not a good idea to cache POST requests. POST requests exists for "posting" something, they have to reach the server.

But some server don't implement POST correctly... By default only GET is allowed to be cached (by the RFC too).
You can add others methods with `setHttpMethods(array $methods)` on `CacheMiddleware` like that:

[code]

[2016-12-05 12:40] popkin commented on #72
yeah, this server uses POST even for getting data :( it's a nightmare.

I'll try that, thanks

[2016-12-13 08:18] #72 closed

[2017-01-20 15:59] wheelsandcogs commented on #35
Hi, as I understand it from the code, all requests with the same method / uri share the same cache key?

Is there any progress towards supporting separate caching for varied headers?

[2017-01-24 10:24] Kevinrob commented on #35
Hi, yes it's correct. No, there isn't any progress about that.
I review and accept PR if you have some time to do that 👍

[2017-01-24 10:24] #71 closed

[2017-02-01 16:51] wheelsandcogs commented on #35
Just had a look at doing this, but it's proving difficult without a major refactor of the caching layer.

Currently if the vary headers in the request differ from those in the response cache, a new request is made and the new response replaces the existing cache for that URL.

To handle separate caching per vary headers, we need to keep track of the vary headers for each URL, so that we can genera

[2017-02-01 17:05] wheelsandcogs commented on #35
A less invasive way would be to store the original response under `hash('sha256', $request->getMethod().$request->getUri());`  as is done currently, but also create a separate cache key using the response vary headers, and store the response again under the new key.

This would remove the need to refactor the caching layer to support array storage, but it seems like a lot of cache overhead when al

[2017-02-02 12:56] wheelsandcogs commented on #35
PR added here: https://github.com/Kevinrob/guzzle-cache-middleware/pull/75

[2017-02-04 08:57] Kevinrob commented on #35
Thank you for looking at this issue! I will do my best for reviewing your PR as soon as possible. 😃

[2017-02-04 09:20] #35 closed

[2017-02-04 09:34] Kevinrob commented on #68
Hi @polupraneeth, I don't realy understand what is your issue 😄. I'm not realy sure that this is related to this library.
I close this issue for the moment, if you need more help about that, don't hesitate to respond 😉.

[2017-02-04 09:34] #68 closed

[2017-02-04 09:37] Kevinrob commented on #59
Did you found response to your answers? I close this issue for cleaning the project. Don't hesitate to response for help!

[2017-02-04 09:37] #59 closed

[2017-02-09 16:44] loicdev opened #77 "Error with TTL"
Hello i use your lib to cache my api call into a redis server.
to make it , i use this strategy

` $stack =  HandlerStack::create();
        $stack->push(
            new CacheMiddleware(
                new GreedyCacheStrategy(
                    new DoctrineCacheStorage(
                        new PredisCache(
                            new Predis\Client(sprintf('tcp://%s:%s',$client,$port))

[2017-02-10 08:15] Kevinrob commented on #77
Hi, I will try to check that.
For a better debugging, can you post the headers of your response please?

[2017-02-10 09:18] loicdev commented on #77
![image](https://cloud.githubusercontent.com/assets/6772726/22821179/3eb0ca80-ef7a-11e6-91ad-e870aff85876.png)

[2017-02-10 10:43] loicdev commented on #77
sorry, my bad i use a fake api found on the web where caching data don't work.
i have juste make mine online and it works thanks you ;)

[2017-02-26 14:07] kslr commented on #19
Hello, can you ignore the Cache-Control cache?

[2017-02-26 20:13] Kevinrob commented on #19
@kslr please create a new issue if you have a problem. But `GreedyCacheStrategy` is what you looking for ;)

[2017-03-26 17:08] josenobile commented on #68
Hello,

I think the problem is guzzle cache middleware does not support sink parameter. Does it support?

[2017-03-27 07:32] Kevinrob commented on #68
Hi, how should it support sink parameter? Don't do caching?

[2017-04-15 00:00] gnutix commented on #37
Hello! I just needed to do the exact same thing in my tests and your code worked perfectly (it returns "HIT" or "MISS").

However, when I try to do something like this :
[code]

It fails and gives me the same data as the first request (200, with a body). Any idea why ?

[2017-04-18 08:31] Kevinrob commented on #37
@gnutix The cache will change code from `304` to `200` and fill the `body` with the cache. It's transparent from the caller.
You can check `CacheMiddleware::HEADER_CACHE_INFO` header for debugging/testing information.

[2017-04-18 15:52] gnutix commented on #37
OK thanks!

[2017-05-02 11:35] afoeder commented on #62
@zobzn : Any chance for you to provide a Pull-Request? Would be awesome if you could since you're already on the topic. If you need some help to get started just ask (me).

[2017-05-02 11:56] afoeder commented on #24
@Kevinrob : could you elaborate what you specifically mean with this?

[2017-05-02 12:00] afoeder commented on #42
@bogdanghervan : #80

[2017-05-02 12:01] Kevinrob commented on #24
@afoeder The RFC said that we have to add a `Warning` header in the response in some situation. By example: `Warning: 110 - "Response is Stale"` for a stale response.
I don't thing that it's something important... The link to the RFC explain well 😉

[2017-06-30 17:29] shadowhand opened #82 "Writes empty files when using sink"
Whenever I use this middleware when combined with the [`sink`](http://guzzle.readthedocs.io/en/latest/request-options.html#sink) option empty files are written:

[code]

The file `$dir/$uri` is created but has zero-length content.

[2017-07-01 21:47] Kevinrob commented on #82
Are you sure that this is this middleware that cause the issue?
The `sink` option is handled before this middleware.

Can you share/post your code?

[2017-07-05 19:12] shadowhand commented on #82
Yes, I've confirmed that `sink` works correctly when this middleware is disabled.

Guzzle [config is here](https://github.com/RoundingWellOS/redox-php/blob/feature/json-schema/config/injection/guzzle.php#L22)

Here is our [calling code](https://github.com/RoundingWellOS/redox-php/blob/feature/json-schema/bin/download#L35-L36), which is currently not using `sink` due to this issue.

[2017-07-07 08:42] tuanpht commented on #56
I use this to check if cache works. Hope it help someone :)
[code]

[code]

If cache works, time will be increased by 5 seconds.

[2017-07-09 13:13] Kevinrob commented on #62
@zobzn @afoeder The PR #86 should fix that! Can you check and tell me if it's ok for you?

[2017-07-10 06:58] zobzn commented on #62
@Kevinrob thanks a lot!
Unfortunally I'm already switched from Guzzle to HTTPlug with GreedyCachePlugin, so i can't check your changes in real code.
But changes in PR https://github.com/Kevinrob/guzzle-cache-middleware/pull/86 looks ok.

[2017-07-11 05:50] #62 closed

[2017-07-14 13:50] mirfilip opened #87 "Add support for PSR-3 logger"
Guzzle 6 has a good support for logging. Configuring HTTP client, you can easily log a lot of details.

When this middleware is used, it's impossible to hook into request / response process and log that request / response was cached.

[2017-07-19 10:22] Avariya opened #88 "Cache storage overflow"
**Problem**:
If you are using `Etag` or `Last-Modified` validation models - it is a big risk of cache overflow.
E.g.: you are updating response every second and as a result update Last-Modified header every second.
The record will be added to cache storage and never will be removed as it has no TTL.
As Etag header is new - record with a **new** key will be created.

**Probable solution:**
Remove h

[2017-07-19 11:01] Avariya commented on #88
Looks like it is not a reason.
Only vary headers are in list

[2017-07-19 11:01] #88 closed

[2017-09-14 05:24] tanys123 opened #90 "How can i clear cache? GreedyCacheStrategy"

[2017-09-14 06:19] Kevinrob commented on #90
That's depend of the "Storage" that you use.

- If you use some files, just delete it
- If you use redis, clear it
- etc...

[2017-09-14 06:33] tanys123 commented on #90
I'm using Laravel storage. I do it by use Cache::flush(). Anyway i can clear cache by key?

[2017-09-15 08:09] Kevinrob commented on #90
Sorry I don't know ho Laravel works.

[2017-10-13 08:34] Kevinrob opened #91 "Update dependency `cache/array-adapter` to last version"

[2017-10-13 08:35] Kevinrob commented on #90
@tanys123 Do you find how to do it? I close this issue, feel free to reopen if needed.

[2017-10-13 08:35] #90 closed

[2017-10-22 19:31] #91 closed

[2017-11-14 10:22] Neirda24 opened #98 "Make greedy cache TTL dynamic"
When using the greedy cache we must set the TTL in the constructor. It would be a good idea to make it dynamic (maybe using a custom header in the request ?).

[2017-11-14 10:30] Kevinrob commented on #98
Yes, that can be a good feature!

[2017-11-15 15:20] Neirda24 opened #99 "Make cache available per method and per status code"
As of now we can only exclude http methods. It would be great also to explicitly tell to not cache 404 (for example). A good idea might be to update this property: https://github.com/Kevinrob/guzzle-cache-middleware/blob/master/src/CacheMiddleware.php#L49 to make it like this:

[code]

It would be something with a default configuration. It could be overriden through strategy configuration and requ

[2017-11-21 10:07] #98 closed

[2017-11-21 10:07] Kevinrob opened #101 "Add tests for dynamic TTL (#100)"

[2017-11-21 12:35] #101 closed

[2017-12-20 09:48] sergiuPHP opened #102 "Psr16CacheStorage is saving without TTL"
In "Psr16CacheStorage" don't use ttl from CacheEntry how does for example DoctrineCacheStorage

Please update implementations of save function to something like:

$this->cache->set($key, $data, $date->getTTL());

[2017-12-20 16:01] francescolaffi commented on #102
@sergiuPHP could you do a PR to fix this? even if you never contributed is a good first contribution, otherwise let me know as I'll take it up

btw I'm not a mantainer of this project, just interested in seeing this fixed

[2017-12-21 10:27] sergiuPHP commented on #102
Hi, Sure. Happy to help.

[2018-01-10 13:49] #102 closed

[2018-01-11 07:41] Kevinrob commented on #102
https://github.com/Kevinrob/guzzle-cache-middleware/releases/tag/v3.2.1

[2018-02-07 17:53] jamieburchell opened #105 "Calls with different request headers use same cache file"
I'm not sure if this is by design, a bug, or something that needs to be coded around. I have two requests to the same URL, one has a custom HTTP header and the other doesn't. Whichever URL is called first results in a cache miss and cache file created, then the next call is a cache hit. Does this library not take in to account the request headers? How is the cache hit determined?

I'm using v2.0.2

[2018-02-07 19:59] jamieburchell commented on #105
I think I need to look at implementing the Vary header in responses.

[2018-02-07 19:59] #105 closed

[2018-02-08 08:12] Kevinrob commented on #105
Yes, `vary` is the way to do that. 👍

[2018-03-07 08:20] afoeder commented on #99
I'd maybe consider working on this because we need it in our project. We're using it in conjunction with the GreedyCacheStrategy; and I think it would make sense to even have different TTLs depending on the type of the response status (this thinking is inspired by [AWS CloudFront's behavior](https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/HTTPStatusCodes.html))

Any ideas how to

[2018-03-07 10:23] bpolaszek commented on #99
Hello @afoeder,

Thanks for inviting me to join this discussion.

There's is indeed a lack in GreedyCacheStrategy that forced me to implement my own CacheStrategy in one of my projects because my use case was not covered.

I think than instead of relying on http status codes, a cache strategy should also rely on the whole `ResponseInterface` object (which gives also access to the response status c

[2018-03-07 10:42] afoeder commented on #99
thanks for your elaborate reply @bpolaszek. I have like a very similar case: our API we consume is totally unpredictable and yes, can confirm: everything is a 200 OK and the body is _always_ some list'ish thing but maybe empty, even if one requests intentionally rubbish.

So, following your suggestions at the end and since naming is important, wouldn't the naming of the `GreedyCacheStrategy` be mo

[2018-03-07 11:13] bpolaszek commented on #99
I work with many external APIs in many projects (like, dozens), and NONE of them follow standard caching directives. After years of implementing cache on my own in dirty ways, I discovered your middleware and the GreedyCacheStrategy helped me a lot (this is the only one I use, and the only time I needed to override it was to connect to an API that doesn't know any other status code than 200 and no

[2018-05-14 10:16] jamieburchell opened #106 "Support for purging stale/expired cache"
It seems that there's no mechanism in place to purge old/expired cache entries. I'm using the Doctrine file system storage adaptor and I've run in to a situation where the disk is filling up. I don't want to simply purge everything, because some of the cache files will still be valid.

What's the best way to implement something that can do this?

[2018-05-24 18:45] deviantintegral opened #107 "Can we use str / parse_response() when serializing cache entries?"
I just ran across these functions in guzzle/psr7, and it seems like it would make sense to use the built-in ways to serialize a request or response. I'm curious if there's some reason they weren't used already.

https://github.com/guzzle/psr7/blob/master/src/functions.php

[2018-06-02 19:41] wmelton opened #108 "Validate cache is writable"
If cache directory exists but is not writeable, the library fails silently and does not cache any responses when using Doctrine Cache + Filesystem Cache.

Example:

Set cache directory permissions to 644, for example on my machine.

[code]

In this scenario, all responses will contain `[X-Kevinrob-Cache] => Array
        (
            [0] => MISS
        )` regardless of the `Cache-Control` respon

[2018-07-25 09:23] jenkoian opened #110 "Is Must-Revalidate supported?"
I receive a response with the following headers:

`Cache-Control: public, max-age=3600, must-revalidate`
`Vary: Accept-Language`
`Last-Modified: Mon, 22 Jun 1998 15:03:52 GMT`

What I would expect in this case is for a revalidation request to be made and the headers updated in the cache if a 304 or the cache entry removed/invalidated if a 200.

What I'm seeing though is that the `must-revalidate`

[2018-07-31 17:19] Kevinrob commented on #110
This library don't handle `must-revalidate` yet.
But `must-revalidate` doesn't work like you said. It's only for when the cache entry become stale. `must-revalidate` said that you can't serve stale content.

You can read the definition of [RFC 7234](https://tools.ietf.org/html/rfc7234#section-5.2.2.1)

[2018-08-02 21:57] kubk opened #111 "Permanent cache"
Permanent cache is useful while testing Guzzle clients. Guzzle already provides [MockHandler](http://docs.guzzlephp.org/en/stable/testing.html) for testing API clients but for big clients it is tedious to generate manually all of the response fixtures.
A middleware for permanent cache will solve this issue. Basically permanent cache is `GreedyCacheStrategy` without the `ttl` option.
Can make a PR.

[2018-08-07 10:02] jenkoian commented on #110
ah yes you're right! I was previously using https://github.com/guzzle/cache-subscriber/blob/master/src/ValidationSubscriber.php which seems to send a validation request if the must-revalidate header is present.

Thanks for the info, I'll close this now.

[2018-08-07 10:02] #110 closed

[2018-08-07 10:50] Kevinrob commented on #111
Okay, let's make a PR 👍
Something like `PermanentCacheStrategy`?

[2018-08-09 21:43] kubk commented on #111
@Kevinrob Thanks for the response.
Guess I'll just use very big TTL, for example 30 years.

BTW Very well written library :heart:

[2018-08-09 21:43] #111 closed

[2018-09-26 13:08] gmmedia opened #112 "No guzzle delay if cached"
Hallo,
I use a delay in the guzzle config to avoid `429 Too Many Requests` errors.
[code]
That delay is not necessary if the file cache is used.

Is it possible to use no delay if the guzzle-cache-middleware returns the cached file?

thanks
Jochen

[2018-12-04 14:48] bpolaszek commented on #98
Hey there,

I know I'm 1 year late on that topic but I did not notice it before.

I'm really against the fact that the library _modifies_ request objects (even if they're immutable). That's what the [DelegatingCacheStrategy](https://github.com/Kevinrob/guzzle-cache-middleware/blob/master/src/Strategy/Delegate/DelegatingCacheStrategy.php) was designed for (changing strategy based on the request). I

[2018-12-11 13:52] Kevinrob commented on #98
@bpolaszek But we don't modifies request objects, do we?

[2018-12-11 14:33] bpolaszek commented on #98
Technically you don't, because PSR-7 objects are immutable, but my point is that you delegate to the Request object the responsibility to carry an information which is out of its scope. Nothing really important here, just quibbling with OOP :smile:

[2018-12-11 14:34] bpolaszek commented on #98
Another solution would have been to fake a real `Cache-Control` header, which would have behaved the same.

[2018-12-14 11:54] Kevinrob commented on #98
Okay, I understand your point! It's true.
Both methods are possible with this. 😄

[2019-01-18 08:35] jamieburchell commented on #106
Possibly, but I don't think that helps with the original problem - deleting expired cache files

[2019-03-12 17:10] levsoroka commented on #106
it may be possible to do a cron job that would remove files past certain date.

[2019-03-12 17:39] jamieburchell commented on #106
Indeed. I came up with this; it's not pretty but it does the job.

[code]

[2019-04-15 13:40] Kevinrob commented on #112
Hi,
Are you sure that the `delay` impact the response from the cache?
I looked into the source of Guzzle and I thought that it only delay the real call to the network.
=> https://github.com/guzzle/guzzle/blob/003757426cdd50fbad1c34cdbcc8a55f70a4fe8b/src/Handler/CurlHandler.php#L36

[2019-04-16 12:51] Quezler opened #116 "Laravel cache duration changes"
https://github.com/Kevinrob/guzzle-cache-middleware/blob/master/src/Storage/LaravelCacheStorage.php#L47

https://laravel-news.com/cache-ttl-change-coming-to-laravel-5-8

[2019-06-18 16:18] ymilin commented on #116
Hi @Kevinrob,

As a Laravel 5.8 user, I would like this to be fixed and would gladly work on a PR for it.

Reverting #74 would be a BC break for Laravel < 5.8 users which is not acceptable since 5.5, 5.6 and 5.7 are still supported.

A possible fix would mean to:
- release a new major version with `"illuminate/cache": "^5.8"` in `composer.json` and #74 reverted
- release a path on the current `3.x

[2019-06-29 16:08] tkhamez commented on #106
The lifetime will often be 0, see [CacheEntry::getTTL()](https://github.com/Kevinrob/guzzle-cache-middleware/blob/master/src/CacheEntry.php#L226), so you need to read the cached element:

[code]

[2019-06-29 18:54] jamieburchell commented on #106
It would be nice to have something ready made for this, or being able to utilise the existing methods rather than duplicating most of the code from them and rolling our own thing.

[2019-09-14 19:49] str opened #117 "[question] how to define time how long should the cache live?"
Hi!

It looks like my cache lasts for a very short time.  This is how I define my cache middleware:

[code]

how can I define how long my cache should last? Like in days?

[2019-10-16 19:28] ericnorris opened #118 "Middleware does not cache 201 status code"
Per:

https://github.com/Kevinrob/guzzle-cache-middleware/blob/e1430d9f7e10f6b0998be6195541d4449079b6e9/src/Strategy/PrivateCacheStrategy.php#L33-L45

and:

https://github.com/Kevinrob/guzzle-cache-middleware/blob/e1430d9f7e10f6b0998be6195541d4449079b6e9/src/Strategy/PrivateCacheStrategy.php#L66-L69

...the caching middleware does not cache a `201` response. I believe this is not compliant with th

[2019-10-21 12:31] #22 closed

[2019-11-28 21:04] grray commented on #116
I propose this PR #120, which just checks Laravel version.

[2019-12-26 11:00] Kevinrob commented on #118
I thing that this is right. We should change the logic.

[2020-01-02 18:14] Kevinrob commented on #116
Thanks @grray for this PR 👍

@Quezler @ymilin Is it good for you too?

[2020-01-02 18:15] Quezler commented on #116
i'll have to check it out 😇

[2020-01-03 09:16] ymilin commented on #116
Hi @Kevinrob,

Since then, I ended up using my own version of this middleware until this can be resolved.

@grray idea is pretty good but has 2 drawbacks:
- It doesn't work with Lumen.
Lumen's version() returns a non standard version while Laravel does.

https://github.com/laravel/lumen-framework/blob/ffa356c72e374b6a2c4e8880378f3133cb3b7385/src/Application.php#L136-L144

- It won't work for users

[2020-01-03 14:58] Kevinrob commented on #116
@ymilin Thank you for those information! I never used Laravel and Lumen.
Maybe we should release different package for each storage? One for the main library and one for each storage (Larvel, etc...). With that, we can release multiple version for each Laravel. What do you thing?

[2020-01-03 17:47] ymilin commented on #116
Sorry for bothering you with the Laravel/Lumen specifics 😅

Laravel is the full framework and Lumen is the official micro-framework maintained by Laravel. They share a lot in common (basically everything under the `\Illuminate` namespace) but have some subtle differences especially when using helpers like `app()->version()` for example.

Since the caching implementation is under the `\Illuminate`

[2020-01-05 12:16] grray commented on #116
That's a nice discussion, guys, but keep in mind, that LaravelCacheStorage is still broken in Laravel 5.8+, and it's hard to debug (or find corresponding bug on github) because it looks like library doesn't work at all (because short ttl/60 will be expired almost immediately). So, if it's hard to find perfect solution, we should have at least good enough one, and new devs will not waste time figur

[2020-01-06 09:02] ymilin commented on #116
How about checking version's format before using version_compare?

[code]

- Works for all Laravel apps
- Works for Lumen >= 5.8
- Uses seconds where version is not a SemVer string

[2020-01-06 09:17] Kevinrob commented on #116
Yeah, it's a good compromise!
What about:
[code]

[2020-01-06 10:17] ymilin commented on #116
Yeah even better 👍

[2020-01-06 12:00] Kevinrob commented on #116
@grray @Quezler okay for you?

[2020-01-07 13:30] ymilin commented on #116
Hi,

There is a small mistake in my regex, it should be `/^\d+\.\d+\.\d+/`.

Ensuring start of the string is the SemVer string is important as the current Lumen version is `'Lumen (6.2.0) (Laravel Components ^6.0)'` which would match the initial regex and make version_compare return -1.

[2020-01-07 20:29] grray commented on #116
Looks good

[2020-01-08 07:05] Kevinrob commented on #116
PR #123 anyone with a Laravel project can check that it's working?

[2020-01-08 10:06] #116 closed

[2020-01-08 10:09] Kevinrob commented on #116
https://github.com/Kevinrob/guzzle-cache-middleware/releases/tag/v3.3.0

[2020-01-17 13:23] lazka commented on #87
You can use the normal guzzle logger and log the custom header this middleware adds:

[code]

[2020-04-13 11:14] marcus-at-localhost opened #127 "Flysystem returns "File not Found" error on DELETE, POST, PUT calls"
#### Versions used
[code]
Tested locally on Win with PHP 5.6 and online Linux PHP 7.3 -same result.

#### Description

I noticed a strange behavior with this setup:

[code]
GET requests are working fine, but for some reasons with POST, DELETE, PUT requests, the Server returns the following:

![image](https://user-images.githubusercontent.com/1337223/79115546-6e6dca00-7d86-11ea-860c-543abc97a13c.pn

[2020-04-13 19:07] marcus-at-localhost commented on #117
@str You can set time like this.

[code]

Although my experience was, if the server doesn't return proper caching headers (for how long content is cache-able), then nothing really happens (beside a file being written, the network access happens anyway).

You can force caching with `\GreedyCacheStrategy` and then the caching time setting is honored. The middleware is also setting a Http Header, war

[2020-04-16 06:08] Kevinrob commented on #127
Thank you for this report.
When you do a POST, DELETE or PUT requests, we need to invalidate the corresponding route for GET requests (RFC).

Maybe we need to adapt `FlysystemStorage` for checking if the file exists before trying to delete it. (or we can catch the error).

Can you make a PR for this changes?

[2020-05-09 03:14] randhipp commented on #56
This method working for me

[2020-07-19 18:47] #127 closed

[2020-11-17 12:47] kdefives opened #134 "Incompatibility with Guzzle7?"
Hello,

Do you know if guzzle/cache/middleware is compatible with Guzzle7?

Because I face this issue, even if I do not know at this time if the problem is on Guzzle side or middleware side : https://github.com/guzzle/guzzle/issues/2534#issuecomment-728326152

Thx

[2020-12-06 21:30] Kevinrob commented on #134
Hello!
I didn't tested this library with Guzzle7 at the moment.
I don't have time these days for that.

If you find something, don't hesitate de make a PR.

[2021-01-07 02:23] samwilson commented on #82
We're also seeing this issue in [this project](https://github.com/wsexport/tool/blob/05bd30ea20e011b2ebb32e1a107268ed2ea2b9b1/src/BookProvider.php#L219). The workaround of not using `sink` (and instead writing the response body out to a file after the Guzzle request) seems to work fine.

[2021-04-20 10:15] rincler opened #140 ""X-Kevinrob-Cache: MISS" although response is from cache"
Hi!

I have two layers of cache: memory and redis:

[code]

Suggest we have cached response in redis. We make `$client->request()`.
I expect: `X-Kevinrob-Cache: HIT`
I see: `X-Kevinrob-Cache: MISS`

redis middleware set `X-Kevinrob-Cache` to `HIT` in https://github.com/Kevinrob/guzzle-cache-middleware/blob/57c579392ef24d6afe72a00ccd73f09ae35a9d24/src/CacheMiddleware.php#L154, but then memory middl

[2021-05-13 12:33] benbelmour opened #141 "[Question] Specifying TTL For Laravel Cache"
I have followed this example in terms of implementing caching within my application:

![image](https://user-images.githubusercontent.com/79989595/118126060-af079f00-b3ef-11eb-8a97-9ab1122bc69d.png)

In terms of this example, how would one set the TTL?

[2021-05-19 13:01] markspare commented on #141
You don't specify the TTL, it is specified in the response from the server.

If the server is not returning cache headers you can specify a greedy cache strategy and specify your own TTL but this it shouldn't be used unless absolutely necessary.

[2021-06-08 10:17] benbelmour commented on #141
What header does it look at for the TTL?

[2021-06-08 10:31] markspare commented on #141
`Cache-Control` and `Expires`: https://github.com/Kevinrob/guzzle-cache-middleware/blob/57c579392ef24d6afe72a00ccd73f09ae35a9d24/src/Strategy/PrivateCacheStrategy.php#L71

[2021-06-09 10:25] benbelmour opened #142 "Redis Expire and Delete Items"
I have my caching set up as such which works as expected:

[code]

The one issue is, the items aren't being deleted from Redis.

The cache isn't being hit and requests are being sent once the TTL has expired which is expected, but as mentioned above the items aren't actually being deleted from Redis.

How would one set the items to delete automatically?

[2021-06-09 10:26] #141 closed

[2021-07-04 16:01] Kevinrob commented on #140
You can use [`ChainCache`](https://github.com/doctrine/cache/blob/1.11.x/lib/Doctrine/Common/Cache/ChainCache.php) for using multiple cache storage.
But we can change for checking the presence of the header before setting it! Would you like to make a PR about this?

[2021-07-09 08:43] dbclkh commented on #134
This issue can be closed now, it is compatible with Guzzle7 now.

[2021-08-27 18:49] vaclavgreif opened #147 "Different TTL with GreedyCacheStrategy and RequestMatcher"
I'm defining a `DelegatingCacheStrategy`, and I'm using a simple config to define which endpoint should be cached:
[code]

[code]

and the matcher method looks like this:
[code]

This works great, but I'd need to be able to define different TTLs for different endpoints. Is there a way to set that somehow?

[2021-09-21 15:58] jamieburchell opened #148 "igbinary_serialize(): Cannot serialize resource(stream)"
Hello

I'm getting this error:

[code]

When using v3.4.1 on PHP v8.0.10 (with igbinary v3.2.6) and Guzzle v7.3.0.

This message appears to stem from symfony/cache (v5.3.7) and the memcached component. I'm not getting that message with PHP 7.4 (igbinary 3.1.2) and I think that is because of this change in igbinary:

https://pecl.php.net/package-info.php?package=igbinary&version=3.2.0

I have been

[2021-09-28 01:34] rhysemmerson opened #149 "Request with unsafe method does not invalidate cache"
#### Expected behaviour

When making a request with an unsafe method, all keys for that url should be invalidated.

[code]

#### Actual Behaviour

Only the key for the unsafe method is invalidated.

[code]

#### Potential solutions

One obvious solve would be to not use the request method in cache key, this wouldn't allow caching multiple methods though.

Alternatively the middleware could modify

[2021-12-18 04:44] mglaman commented on #148
For now, my workaround was to pass `false` to the default marshaller to disable `igbinary`.

[code]

[2022-01-10 09:22] xavierleune opened #155 "Drop doctrine/cache"
doctrine/cache is intended to be abandoned, we should drop the suggest and related code to rely on psr/cache-implementations instead to provide up-to-date examples.

[2022-01-15 15:59] Kevinrob commented on #149
This is a good point!
Do you want to make a PR for this?
Link to the RFC about this: https://datatracker.ietf.org/doc/html/rfc7234#section-4.4

[2022-01-15 16:01] Kevinrob commented on #148
Does #156 would fixe this issue?

[2022-01-16 00:07] jamieburchell commented on #148
I believe so but I have not tested yet. I should be able to in a couple of days though.

[2022-01-19 14:16] xavierleune commented on #148
é&Hi @jamieburchell, thanks for the feedback. Can you share some details to reproduce the issue ? In my case everything looks fine now, so I'm not sure on what I should be looking for

[2022-01-19 18:56] jamieburchell commented on #148
I can reproduce the errors/warning 100% of the time so hopefully we can find what's wrong. I'm using your fix branch, PHP 8.0.14 and Symfony cache 5.4.2 (using memcached)

Here's a `var_dump` of `$values` in `MemcachedAdapter::doSave`

[code]

There's a resource stream there, is that what it's complaining about?

[2022-01-19 19:59] jamieburchell commented on #148
Adding another dump of what is just about to be serialized:

[code]

Note the resource stream.

[2022-01-19 20:07] jamieburchell commented on #148
Another example being sent to the serializer, including a resource stream

[code]

[2022-01-20 13:46] xavierleune commented on #148
@jamieburchell thanks, I can see there is a stream in the request too ! I'll update my pull request accordingly

[2022-01-20 15:14] jamieburchell commented on #148
In case you didn't spot it, there are two mentions of resource streams - one in the request and one in the response.

[2022-01-20 16:29] xavierleune commented on #148
@jamieburchell Yes I spotted it but thanks for the highlight. I think my last fix will cover it. I also added a specific test on `igbinary_serialize`. Can you please review it again ?

[2022-01-21 14:54] jamieburchell commented on #148
@xavierleune @Kevinrob That's fixed it :)

Great work, thank you for your effort!

[2022-01-25 23:34] piotrmerton opened #158 "Response object without body?"
Hello, I am having hard time trying to grasp the logic of accessing cached data. Can you point me in the right direction what to do after file gets created? The file is created fine with data I'm interested in but using `$response->getBody()` returns nothing? How can I access data?

Example I'm using:

`

    $stack = HandlerStack::create();
    $stack->push(
        new CacheMiddleware(

[2022-01-28 14:44] jamieburchell commented on #148
@Kevinrob Please could we get this merged?

[2022-01-31 08:59] Kevinrob commented on #148
I will take a look 👍

[2022-01-31 09:01] #148 closed

[2022-01-31 23:00] rhysemmerson commented on #158
Have you tried `$response->getBody()->getContents()`?

[2022-01-31 23:03] rhysemmerson commented on #142
I think the problem is it only uses the ttl when fetching from the cache but not when saving to the cache. This is because some Cache Control rules allow serving from cache after the max-age has passed.

There might be a way to configure a default ttl, maybe a global max ttl config would be useful.

[2022-02-01 15:46] piotrmerton commented on #158
Thank you, it worked 👍

[2022-02-06 17:32] marcus-at-localhost commented on #147
@vaclavgreif  did you figure that out? I need that too :/

[2022-02-06 19:39] vaclavgreif commented on #147
Hi Marcus, in the end I did something like this:

[code]

and in the MySDK:

[code]

[2022-02-07 05:50] #149 closed

[2022-03-08 01:26] rhysemmerson commented on #142
We tackled this problem this week. The issue is that if the response has a validation header (`Last-Modifed`, `etag` etc) the `LaravelCacheStorage` class will use `forever` when saving to cache. This is because the response could be revalidated after it becomes stale.

This would be fine for a large file cache but when using redis the memory limits are more restrictive and the eviction policy does

[2022-06-07 13:40] e-zannelli opened #162 "CacheEntry::__sleep mutates response body to PumpStream which is read once"
Hello

`CacheEntry::__sleep` mutates response body to a `PumpStream` which is read once; if you try to re-read the response body you'll get an empty string.

I guess the current implementation assumes a `CacheEntry` is never used after being serialized, so `PumpStream`d response is never exposed outside the middleware, but you can actually end-up with a mutated `CacheEntry` quite easily.

For inst

[2022-07-15 08:31] bburnichon opened #165 "Storing PHP serialized data in caches MUST be avoided"
I was bitten by this several times already.

You have a running application in production heavily relying on cached data.

You upgrade a PHP dependency like going from `3.5.0` to `4.0.1`, everything is working as expected during tests.
You confidently push code to production.

Everything breaks in production, and you have a hard time figuring why. You revert the changes and the issue does not stop

[2022-07-17 03:18] EricTendian commented on #165
I encountered this issue as well when doing the dependency upgrade. I did some digging and it seems like https://github.com/Kevinrob/guzzle-cache-middleware/pull/156 is the culprit. The release notes should probably be updated to note this breaking change more prominently (and how the fix is to clear the cache).

[2022-08-23 17:07] compwright opened #166 "Not compatible with gmponos/guzzle_logger"
Since CacheEntry uses PumpStream for the response, attempting to use this middleware with gmponos/guzzle-log-middleware results in the following error: